<title>Công việc đang làm</title>
{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
{% load static %}
<style>
html, body{
    height: 100%;
    background-image: url('/static/media/pexels-eberhard-grossgasteiger-2310713.jpg');
    background-size:cover ;
    background-position: relative;
    background-repeat:repeat;
    height: fit-content;
    margin-bottom: 100px;
}
.avatar {
    max-width: 50px;
    max-height: 35px;
    width: 50px;
    height: 35px;
    border-radius: 10%; 
}
.search-container {
    position:relative;
    display:flex;
    margin-bottom: 30px;
}
#loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.9);
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            border-top-color: #3498db;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
.card-body {
    display: flex;
    flex-direction: column; /* Xếp các thành phần theo chiều dọc */
    justify-content: space-between; /* Tạo khoảng cách đều giữa các phần tử */
    height: 100%; /* Đảm bảo chiều cao của card-body chiếm toàn bộ */
}
.card-text {
    margin-top: 1px;
    text-align: bottom;
}
</style>
<div id="loading-screen">
        <div class="spinner"></div>
    </div>
<p></p>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100 d-flex flex-column">
            <a href="{% url 'create_todo_list' %}" style="text-align: center; display: block; ">
                <img src='{% static 'asset/themcongviec.png'%}' style="width: 16rem; height: 16rem; object-fit: cover; margin: 0 auto;" />
                <h4 class="card-title"><center><p style="">Tạo công việc mới</p></center></h4>
            </a>
        </div>
    </div>
    {% for todo_list in todo_lists %}
    <div class="col">
        <div class="card h-100 d-flex flex-column">
            <center><img src="{% static 'asset/doing.png' %}" style="width: 10rem; object-fit: cover; margin: 0 auto;" class="card-img-top" alt="hotro"></center>
            <div class="card-body flex-grow-1">
<div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">{{ todo_list.todo_list_title }}</h5>  
	<button type="button" class=" btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{ todo_list.todo_list_id }}">
        	Sửa tiêu đề
   	</button>
	
</div>
<br>
                <p class="card-text d-flex justify-content-between align-items-center">
                    {% if todo_list.todo_list_status == 'Đang làm' %}
                        <span class="badge bg-success">Đang làm</span>
                    {% elif todo_list.todo_list_status == 'Đã xong' %}
                        <span class="badge bg-danger">Đã xong</span>
                    {% endif %}

                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ todo_list.todo_list_id }}" data-todo-list-id="{{ todo_list.todo_list_id }}" data-todo-list-name="{{ todo_list.todo_list_name }}">
                        Xóa
                    </button>
                </p>
            </div>
                
            {% if todo_list.todo_list_id %}
                <a href="{% url 'todo_list_details' todo_list.todo_list_id %}" class="btn btn-primary btn-sm">Xem chi tiết</a>
            {% else %}
                <p>No ID available</p>
            {% endif %}
            <div class="card-footer">
                <small class="text-muted">{{todo_list.todo_list_create_time|naturaltime }}</small>
            </div>
        </div>
    </div>
<div class="modal fade" id="deleteModal{{ todo_list.todo_list_id }}" data-bs-target="#deleteModal{{ todo_list.todo_list_id }}" tabindex="-1" aria-labelledby="deleteModal{{ todo_list.todo_list_id }}"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModal{{ todo_list.todo_list_id }}">Xóa công việc <b>{{ todo_list.todo_list_title }}</b> ?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <form method="post" action="{% url 'delete_todo_list' todo_list.todo_list_id %}" class="mt-2">
                            {% csrf_token %}
                            <!--Button trigger Modal-->
                            <button class="btn btn-danger" >Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    </div>
<div class="modal fade" id="editModal{{ todo_list.todo_list_id }}" tabindex="-1" aria-labelledby="editModalLabel{{ todo_list.todo_list_id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel{{ todo_list.todo_list_id }}">Cập nhật</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'edit_todo_list' todo_list_id=todo_list.todo_list_id %}" class="mt-2">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="TenTodo{{ todo_list.todo_list_id }}">Chỉnh sửa</label>
                        <input type="text" class="form-control" id="TenTodo{{ todo_list.todo_list_id }}" name="todo_list_title" value="{{ todo_list.todo_list_title }}" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
<!-- Phần phân trang -->
<div class="pagination justify-content-center mt-4">
    <ul class="pagination">
        {% if todo_lists.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ todo_lists.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for num in todo_lists.paginator.page_range %}
            <li class="page-item {% if todo_lists.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}

        {% if todo_lists.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ todo_lists.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</div>
<script>
        document.addEventListener("DOMContentLoaded", function() {
            var loadingScreen = document.getElementById("loading-screen");
            var content = document.getElementById("content");

            function checkLoadingProgress() {
                var totalResources = document.images.length;
                var loadedResources = 0;

                for (var i = 0; i < totalResources; i++) {
                    if (document.images[i].complete) {
                        loadedResources++;
                    }
                }

                var loadPercentage = (loadedResources / totalResources) * 100;

                if (loadPercentage >= 95) {
                    loadingScreen.style.display = "none";
                    content.style.display = "block";

                    // Khi loading screen ẩn, cho phép cuộn trang
                    document.body.style.overflow = "auto";
                    document.documentElement.style.overflow = "auto";
                } else {
                    window.requestAnimationFrame(checkLoadingProgress);
                }
            }

            checkLoadingProgress();
        });
    </script>
{% endblock content %}
<footer></footer>