<title>Công việc hàng ngày</title>
{% extends "base.html" %}


{% block content %}
<style>
.waiting_list{
    text-decoration: none;
    color: darkgreen;
}
.done_list{
    text-decoration: none;
    color: red;
}
.all_list{
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
    .col {
        width: 100%;
        max-width: 100%;
    }
    .p-5 {
        padding: 20px !important; /* Giảm padding */
    }
}
#loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.9);
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            border-top-color: #3498db;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
.dropdown-item:hover {
        background-color: #080a91;
        color: #ffffff; /* Màu nền bạn muốn thay đổi khi di chuột qua */
    }
.dropdown-item.delete-item:hover {
        background-color: #ffffff; /* Màu nền khi di chuột qua */
        color: #ffffff; /* Màu chữ khi di chuột qua */
    }
</style>
<div id="loading-screen">
        <div class="spinner"></div>
    </div>
    <div id="content" style="display:none;">
    <div class="p-5 mb-4 bg-light rounded-4">
        <div class="container-fluid py-10">
            <h1 class="display-5 fw-bold">Tạo check list công việc</h1>
            <p class="col-md-8 fs-4">Hãy tạo check list công việc hàng ngày để quản lý công việc.</p>
            <a href="{% url 'create_todo_list' %}" class="btn btn-primary btn-lg" type="button">Tạo check list</a>
            <a href="{% url 'view_todo_list' %}" class="btn btn-primary btn-lg" type="button">Tìm công việc</a>
        </div>
    </div>

    <center><div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="{% url 'active_todo_list' %}" class="waiting_list">
                <div class="p-5 mb-4 bg-light rounded-4">
                    <div class="container-fluid py-10">
                        <h3 class="display-10 fw-bold">Đang làm<br></h3><br><h4>{{ active_todo_list }}</h4>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="{% url 'resolved_todo_list'%}" class="done_list">
                    <div class="p-5 mb-4 bg-light rounded-4">
                        <div class="container-fluid py-10">
                            <h3 class="display-10 fw-bold">Đã xong</h3><br><h4>{{ closed_todo_list }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="{% url 'view_todo_list'%}" class="all_list">
                <div class="p-5 mb-4 bg-light rounded-4">
                    <div class="container-fluid py-10">
                        <h3 class="display-10 fw-bold">Tổng</h3><br><h4>{{ todo_lists }}</h4>
                    </div>
                </div>
                </a>
        </div>
        </div>
    </div></center>
 </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var loadingScreen = document.getElementById("loading-screen");
            var content = document.getElementById("content");

            function checkLoadingProgress() {
                var totalResources = document.images.length;
                var loadedResources = 0;

                for (var i = 0; i < totalResources; i++) {
                    if (document.images[i].complete) {
                        loadedResources++;
                    }
                }

                var loadPercentage = (loadedResources / totalResources) * 100;

                if (loadPercentage >= 95) {
                    loadingScreen.style.display = "none";
                    content.style.display = "block";

                    // Khi loading screen ẩn, cho phép cuộn trang
                    document.body.style.overflow = "auto";
                    document.documentElement.style.overflow = "auto";
                } else {
                    window.requestAnimationFrame(checkLoadingProgress);
                }
            }

            checkLoadingProgress();
        });
    </script>
{% endblock content %}